---
import GoogleAnalytics from "../meta/GoogleAnalytics.astro";
import "../styles/global.css";
import "../styles/glass.css";

interface Props {
    title: string;
    description: string;
    keywords: string | string[];
    ogImage?: any;
    ogUrl?: any;
}

const {title, description, keywords, skipCover, ogImage, ogUrl} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8"/>
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="keywords" content={Array.isArray(keywords) ? keywords.join(',') : keywords}>
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Fusionize" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <GoogleAnalytics />
    <!-- Open Graph Metadata -->
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={'https://fusionize.dev'+ (ogImage?? '/apple-touch-icon.png')}>
    <meta property="og:url" content={"https://fusionize.dev" + (ogUrl ?? '')}>
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Fusionize: Where AI Agents Meet Business Processes">

    <!-- Twitter Card Metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@fusionize">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={'https://fusionize.dev'+(ogImage?? '/apple-touch-icon.png')}>
    <meta name="google-site-verification" content="Fusionize: Where AI Agents Meet Business Processes" />
</head>
<body>
<slot/>
</body>
</html>
